/* ここから下に記載していく */
* {
    margin: 0;
    padding: 0; 
   }
   ul {
     list-style:none;
   }
   div {
     padding: 0 30px;
   }
   .header__flex {
     display: flex;
     height:60px;
     align-items: center;
   }
   .header__flex nav {
     margin-left: auto;
   }
   .header__flex ul {
     display: flex;
   }
   .header__flex ul li {
    margin-top: 50px;
     margin-left: 50px;
     margin-bottom: 50px;
   }
   .mainvisual {
       width: 1200px;
       height: 300px;
       color: white;
      background:Url("../img/mainbg.png") no-repeat center center;
      background-size: cover; 
      margin-top: 50px;
   }
   .mainvisual P {
       text-align: center;
       padding-top: 90px;
       font-size: 30px;
   }
   .content h1 {
       color: #ffd61a ;
       text-align: center;
       margin-top: 60px;
       margin-bottom: 30px;
       font-size: 24px;
   }
   .content h2 {
       text-align: center;
       padding-bottom: 60px;
       font-size: 18px;
   }
   .content h3 {
       text-align: center;
       padding-bottom: 40px;
       font-size: 16px;
   }
   .content h4 {
       text-align: center;
       padding-bottom: 40px;
       font-size: 16px;
   }
   .content h5 {
       text-align: center;
       padding-bottom: 40px;
       font-size: 16px;
   }
   .content h6 {
       text-align: center;
       padding-bottom: 40px;
       font-size: 16px;
   }
   .content1 {
       display: flex;
       width: 1200px;
   }
   .content1 img {
     width: 300px;
     height: 300px;
   }
   .content2 {
    width: 1200px;
    height: 295px;
    display: flex;
    justify-content: center;
}
  .pict img {
    padding-top: 60px;
    width: 350px;
    height: 285px;
}
  .text {
    background-color: #fafafa;
    padding-top: 100px;
    width: 350px;
    height: 220px;
  }
  .text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  .text p {
    font-size: 16px;
    margin-top: 40px;
  }
  .content3 {
    width: 1200px;
    height:295px;
    display: flex;
    justify-content: center;
  }
  .pict1 img {
    padding-top: 60px;
    width: 380px;
    height: 285px;
}
.text1 {
  background-color: #fafafa;
    padding-top: 100px;
    width: 350px;
    height: 220px;
  }
}
  .content3 h2 {
    margin-top: 120px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .content4 {
    width: 1200px;
    height:295px;
    display: flex;
    justify-content: center;
  }
  .text2 {
    background-color: #fafafa;
      padding-top: 120px;
      width: 350px;
      height: 220px;
    }
  .content4 h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .text2 p {
    font-size: 16px;
  }
  .pict2 img {
    padding-top: 60px;
    width: 350px;
    height: 285px;
}
  .text2 {
    margin-top: 60px;
  }
  .content5 h4 {
    text-align: center;
    color: #ffd61a;
    margin-top: 185px;
}
  .content5 p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .content6 {
    display: flex;
    justify-content: center;
}

.content6 .item {
    flex: none;
    text-align: center;
}

.content6 img {
    width: 300px;
    height: 200px;
    margin-right: 30px;
    transform: scale(1);
    transition: .3s ease-in-out;
}
.content6:hover {
  transform: scale(1.3);
}

.content7 {
  width:  1200px;
  height: 100px;
  background-color: white;
  margin: 30px auto;
  padding-top: 30px;
  color: white;
  text-align: center;
  font-size: 18px;
}
.box {
  width: 300px;
  height: 60px;
  background-color: #ffd61a;
  margin: 30px auto;
  padding-top: 30px;
  color: white;
  text-align: center;
  font-size: 18px;
}
.box:hover {
  background-color: #333;
  color: #fff;
}
.content8 {
  width: 1200px;
  height: 900px;
  background-color: #fafafa;
  color: black;
  justify-content: center center;
}
.content8 h5 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
.content8 p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content9 {
  width: 1200px;
  text-align: center;
}
.content9 h1 {
  margin-top: 60px;
}
.content9 h2 {
  margin-top: 30px;
  margin-bottom: 60px;
}
.content9 h3 {
  margin-bottom: 30px;
}
.content9 h4 {
  margin-bottom: 70px;
}
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: flex;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 28px;
  /* padding-left: 1em; */
  /* padding-right: 1em; */
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #ffd61a;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}
footer {
  background-color: #707070;
  text-align: center;
  padding-top: 30px;
  height: 50px;
  align-items: center;
  margin-top: 140px;
}
.Form-Item-Input1 {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  max-width: 410px;
  font-size: 18px;
  width: 600px;
}
.check-group {
  line-height: 24px;
}